<html>
	<head>
	    <title>SIMU BANK</title>
        <meta charset="utf-8" />
		<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/lib/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootbox.min.js"></script>
		<script type="text/javascript" src="../../js/lib/angular.min.js"></script>
		<script type="text/javascript" src="../../js/core/app.js"></script>
		<script type="text/javascript" src="../../js/core/clientes.js"></script>
		<script type="text/javascript" src="../../js/core/cuentas.js"></script>
		<link type ="text/css" rel="stylesheet" href="../../css/bootstrap.min.css"></link>
		<link type ="text/css" rel="stylesheet" href="../../css/jquery-ui.min.css"></link>
		<link type ="text/css" rel="stylesheet" href="../../css/style.css"></link>
	</head>
	<body ng-app="simu-bank">
		<navigation-bar></navigation-bar>
		<div id="mainContainer" ng-controller="controladorCuentas as cuentas">
			<h3>Consulta Cuentas</h3>
			<div id="infoCuenta">
				<button type="button" class="btn btn-primary" ng-click="cuentas.dialogoReporteMovimientos();">Reporte Movimientos</button>
				<button type="button" class="btn btn-primary" ng-click="cuentas.dialogoRegistroMovimiento();">Registrar Movimiento</button>
				<button type="button" class="btn btn-danger" ng-click="cuentas.eliminarCuenta();">Eliminar Cuenta</button><br /><br />
				<div ng-hide="cuentas.cuenta.registrada" class="alert alert-danger" role="alert">La cuenta numero {{cuentas.cuenta.numero}} no esta registrada.</div>
				<div class="input-group">
					<span class="label label-default">Numero</span>
					<input id="numero" ng-change="cuentas.consultarCuenta()" ng-model="cuentas.cuenta.numero" type="number" class="form-control" required><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Estado</span>
					<input ng-model="cuentas.cuenta.estado" type="text" class="form-control" disabled><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Saldo</span>
					<input ng-model="cuentas.cuenta.saldo" type="text" class="form-control" disabled><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Cedula Cliente</span>
					<input ng-model="cuentas.cuenta.cedulaCliente" type="text" class="form-control" disabled><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Nombre Cliente</span>
					<input ng-model="cuentas.cuenta.nombreCliente" type="text" class="form-control" disabled><br />
				</div><br />
				<table id="cuentas" class="sb-table">
						<tr>
							<td data-field="id"><center>Fecha</center></td>
							<td data-field="name"><center>Tipo</center></td>
							<td data-field="name"><center>Valor</center></td>
						</tr>
						<tr ng-repeat="movimiento in cuentas.movimientos">
							<td>{{movimiento.fecha | date : 'dd/MM/yyyy'}}</td>
							<td class="celda-saldo">{{movimiento.valor | currency}}</td>
							<td>{{movimiento.tipoMovimiento}}</td>
						</tr>
				</table>
			</div>
			<div id="registroMovimientoDiv" title="Registrar Movimiento" style="display: none;">
				<form name="registroMovimientoForm"
				  ng-submit="registroMovimientoForm.$valid && cuentas.registrarMovimiento()"
				  novalidate>
					<h3>Registro Movimiento</h3>
					<div ng-hide="registroCuentaForm.$valid" class="alert alert-warning" role="alert">Uno de los campos contiene valores invalidos o esta vacio.</div>
					<div class="input-group">
					  Tipo
					  <select ng-model="cuentas.movimiento.tipo" type="select" class="form-control" required>
						<option value="{{cuentas.ID_MOVIMIENTO_DEBITO}}">{{cuentas.NOMBRE_MOVIMIENTO_DEBITO}}</option>
						<option value="{{cuentas.ID_MOVIMIENTO_CREDITO}}">{{cuentas.NOMBRE_MOVIMIENTO_CREDITO}}</option>
					  </select>
					  <br />
					  Valor
					  <input id="nombre" ng-model="cuentas.movimiento.valor" type="number" min="1" class="form-control" required><br />
					</div><br />
					<input type="submit" class="btn btn-success" value="Registrar"/>
				</form>
			</div>
			<div id="reporteMovimientosDiv" title="Reporte Movimientos" style="display: none;">
				<form name="reporteMovimientosForm"
				  ng-submit="reporteMovimientosForm.$valid && cuentas.reporteMovimientos()"
				  novalidate>
					<h3>Reporte Movimientos</h3>
					<div ng-hide="registroCuentaForm.$valid" class="alert alert-warning" role="alert">Uno de los campos contiene valores invalidos o esta vacio.</div>
					<div class="input-group">
					  Fecha Inicial
					  <input id="fechaInicial" ng-model="cuentas.reporte.fechaInicial" type="text" class="form-control" required><br />
					  Fecha Final
					  <input id="fechaFinal" ng-model="cuentas.reporte.fechaFinal" type="text" class="form-control" required><br />
					</div><br />
					<input type="submit" class="btn btn-success" value="Generar Reporte"/>
				</form>
			</div>
		</div>
	<body>
</html>