<html>
	<head>
	    <title>SIMU BANK</title>
        <meta charset="utf-8" />
		<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootbox.min.js"></script>
		<script type="text/javascript" src="../../js/lib/angular.min.js"></script>
		<script type="text/javascript" src="../../js/core/app.js"></script>
		<script type="text/javascript" src="../../js/core/clientes.js"></script>
		<script type="text/javascript" src="../../js/core/cuentas.js"></script>
		<link type ="text/css" rel="stylesheet" href="../../css/bootstrap.min.css"></link>
		<link type ="text/css" rel="stylesheet" href="../../css/style.css"></link>
	</head>
	<body ng-app="simu-bank">
		<navigation-bar></navigation-bar>
		<div id="mainContainer">
			<form name="registroCuentaForm"
				  ng-controller="controladorCuentas as cuentas"
				  ng-submit="registroCuentaForm.$valid && cuentas.registrarCuenta()"
				  novalidate>
				<h3>Registro Cuentas</h3>
				<div ng-hide="registroCuentaForm.$valid" class="alert alert-warning" role="alert">Uno de los campos contiene valores invalidos o esta vacio.</div>
				<div class="input-group">
				  Cliente
				  <select id="cc" ng-model="cuentas.cuenta.cedula" type="select" class="form-control" required>
					<option ng-repeat="cliente in cuentas.clientes" value="{{cliente.cedula}}">{{cliente.nombre}}</option>
				  </select>
				  <br />
				  Saldo Inicial
				  <input id="nombre" ng-model="cuentas.cuenta.saldo" type="number" min="1" class="form-control" required><br />
				</div><br />
				<input type="submit" class="btn btn-success" value="Registrar"/>
			</form>
		</div>
	<body>
</html>