<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">SIMU BANK</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes<span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="../clientes/registroCliente.html">Registrar Cliente</a></li>
				<li><a href="../clientes/consultaCliente.html">Consultar Cliente</a></li>
				<li><a href="../clientes/edicionCliente.html">Editar Cliente</a></li>
			  </ul>
			</li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuentas<span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="../cuentas/registroCuentas.html">Registrar Cuenta</a></li>
				<li><a href="../cuentas/consultaCuenta.html">Consultar Cuenta</a></li>
				<li><a href="#">Inactivar Cuenta</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>