<html>
	<head>
	    <title>SIMU BANK</title>
        <meta charset="utf-8" />
		<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootbox.min.js"></script>
		<script type="text/javascript" src="../../js/lib/angular.min.js"></script>
		<script type="text/javascript" src="../../js/core/app.js"></script>
		<script type="text/javascript" src="../../js/core/clientes.js"></script>
		<script type="text/javascript" src="../../js/core/cuentas.js"></script>
		<link type ="text/css" rel="stylesheet" href="../../css/bootstrap.min.css"></link>
		<link type ="text/css" rel="stylesheet" href="../../css/style.css"></link>
	</head>
	<body ng-app="simu-bank">
		<navigation-bar></navigation-bar>
		<div id="mainContainer">
			<h3>Consulta Clientes</h3>
			<div id="infoCliente" ng-controller="controladorClientes as clientes">
				<div ng-hide="clientes.cliente.registrado" id="clienteNoEncontrado" class="alert alert-danger" role="alert">El cliente con cedula {{clientes.cliente.cedula}} no esta registrado.</div>
				<div class="input-group">
					<span class="label label-default">Cedula</span>
					<input ng-change="clientes.consultarCliente()" ng-model="clientes.cliente.cedula" type="number" min="1" class="form-control" required><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Nombre</span>
					<input ng-model="clientes.cliente.nombre" type="text" class="form-control" disabled><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Direccion</span>
					<input ng-model="clientes.cliente.direccion" type="text" class="form-control" disabled><br />
				</div><br />
				<div class="input-group">
					<span class="label label-default">Telefono</span>
					<input ng-model="clientes.cliente.telefono" type="text" class="form-control" disabled><br />
				</div><br />
				<button type="button" class="btn btn-danger" ng-click="clientes.eliminarCliente();">Eliminar</button><br />
				<h2>Cuentas</h2>
				<table id="cuentas" class="sb-table">
						<tr>
							<td data-field="id"><center>No.</center></td>
							<td data-field="name"><center>Saldo</center></td>
							<td data-field="name"><center>Estado</center></td>
						</tr>
						<tr ng-repeat="cuenta in clientes.cliente.cuentas">
							<td>{{cuenta.numero}}</td>
							<td class="celda-saldo">{{cuenta.saldo | currency}}</td>
							<td>{{cuenta.estado}}</td>
						</tr>
				</table>
			</div>
		</div>
	<body>
</html>