<html>
	<head>
	    <title>SIMU BANK</title>
        <meta charset="utf-8" />
		<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootbox.min.js"></script>
		<script type="text/javascript" src="../../js/lib/angular.min.js"></script>
		<script type="text/javascript" src="../../js/core/app.js"></script>
		<script type="text/javascript" src="../../js/core/clientes.js"></script>
		<script type="text/javascript" src="../../js/core/cuentas.js"></script>
		<link type ="text/css" rel="stylesheet" href="../../css/bootstrap.min.css"></link>
		<link type ="text/css" rel="stylesheet" href="../../css/style.css"></link>
	</head>
	<body ng-app="simu-bank">
		<navigation-bar></navigation-bar>
		<div id="mainContainer">
			<h3>Editar Clientes</h3>
			<h4><b>Nota:</b> Los campos vacios no seran actualizados.</h4>
			<div id="infoCliente" ng-controller="controladorClientes as clientes">
				<form name="edicionClienteForm"
				  ng-submit="edicionClienteForm.$valid && clientes.editarCliente()"
				  novalidate>
					<div ng-hide="clientes.cliente.registrado" id="clienteNoEncontrado" class="alert alert-danger" role="alert">El cliente con cedula {{clientes.cliente.cedula}} no esta registrado.</div>
					<div class="input-group">
						<span class="label label-default">Cedula</span>
						<input ng-change="clientes.consultarCliente()" ng-model="clientes.cliente.cedula" type="number" class="form-control" required><br />
					</div><br />
					<div class="input-group">
						<span class="label label-default">Nombre</span>
						<input ng-model="clientes.cliente.nombre" type="text" class="form-control"><br />
					</div><br />
					<div class="input-group">
						<span class="label label-default">Direccion</span>
						<input ng-model="clientes.cliente.direccion" type="text" class="form-control"><br />
					</div><br />
					<div class="input-group">
						<span class="label label-default">Telefono</span>
						<input ng-model="clientes.cliente.telefono" type="text" class="form-control"><br />
					</div><br />
					<input type="submit" class="btn btn-success" value="Guardar"/>
				</form>
			</div>
		</div>
	<body>
</html>