<html>
	<head>
	    <title>SIMU BANK</title>
        <meta charset="utf-8" />
		<script type="text/javascript" src="../../js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/bootbox.min.js"></script>
		<script type="text/javascript" src="../../js/lib/angular.min.js"></script>
		<script type="text/javascript" src="../../js/core/app.js"></script>
		<script type="text/javascript" src="../../js/core/clientes.js"></script>
		<script type="text/javascript" src="../../js/core/cuentas.js"></script>
		<link type ="text/css" rel="stylesheet" href="../../css/bootstrap.min.css"></link>
		<link type ="text/css" rel="stylesheet" href="../../css/style.css"></link>
	</head>
	<body ng-app="simu-bank">
		<navigation-bar></navigation-bar>
		<div id="mainContainer">
			<form name="registroClienteForm"
				  ng-controller="controladorClientes as clientes"
				  ng-submit="registroClienteForm.$valid && clientes.registrarCliente()"
				  novalidate>
				<h3>Registro Clientes</h3>
				<div ng-hide="registroClienteForm.$valid" class="alert alert-warning" role="alert">Uno de los campos contiene valores invalidos o esta vacio.</div>
				<div class="input-group">
				  Cedula
				  <input id="cc" ng-model="clientes.cliente.cedula" type="number" min="1" class="form-control" required><br />
				  Nombre
				  <input id="nombre" ng-model="clientes.cliente.nombre" type="text" class="form-control" required><br />
				  Direccion
				  <input id="dir" ng-model="clientes.cliente.dir" type="text" class="form-control" required><br />
				  Telefono
				  <input id="tel" ng-model="clientes.cliente.tel" type="number" class="form-control" required><br />
				</div><br />
				<input type="submit" class="btn btn-success" value="Registrar"/>
			</form>
		</div>
	<body>
</html>